<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <style type="text/css">
        .my_content_container a {
            border-bottom: 1px solid #777777;
            border-left: 1px solid #000000;
            border-right: 1px solid #333333;
            border-top: 1px solid #000000;
            color: #000000;
            display: block;
            height: 2.5em;
            padding: 0 1em;
            width: 5em;       
            text-decoration: none;       
            text-align: center
            }
    </style>

    <div class="my_content_container">
        <a href="/add_food">Add food</a>
    </div>
    <h1>Food List</h1>
    {% for f in f_list %}
        <h4>{{ f.name }}</h4>
        <div>{{ f.price }}</div>
        <a href="/food/{{ f._id }}">Detail</a>
    {% endfor %}
</body>
</html>