<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body {
      text-align: center;
      background: url("http://dash.ga.co/assets/anna-bg.png");
      background-size: cover;
      background-position: center;
      color: white;
      font-family: helvetica;
    }
    h3 {
      font-size: 22px;
    }
    input {
      border: 0;
      padding: 10px;
      font-size: 18px;
    }
    input[type="submit"] {
      background: red;
      color: white;
    }
    </style>
</head>
<body>
    <h3 style="color:whitesmoke">LOGIN</h3>
    <form method="POST">
        <input type="text" title="username" placeholder="Username" name="username"><br><br>
        <input type="text" title="password" placeholder="Password" name="password"><br><br>
        <input type="submit">
    </form>
</body>
</html>